---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Contact - BHeavenOn7">
    <div>
        <h3>Contact Us</h3>
        <div class="container">
            <h5>Give Us A Shout</h5>
            <form action="https://api.web3forms.com/submit" method="POST">

                <input type="hidden" name="access_key" value="663a2e7c-7da6-4ccf-918e-c824f5cff21f">
            
                <div class="flex">
                    <input type="text" name="name" required placeholder="Name">
                    <input type="email" name="email" required placeholder="Email">
                </div>
                <textarea rows="4" cols="50" name="message" required placeholder="Message" autocomplete="off"></textarea>
                <input type="hidden" name="redirect" value="https://web3forms.com/success">
            
                <button type="submit">Send Message</button>
                <div class="span"><span>+91 9491800173</span><span>help@bheavenon7.com</span></div>
    
            </form>

            <div class="addressContainer">
                <h5>Our Address</h5>
                <p class="address">Beside essar petrol bunk<br>
                    Itigalpura,
                    Kakol road<br>
                    Rajanukunte,
                    Bangalore-64.</p>
            </div>
        </div>
    </div>
</Layout>

<style>
    h3 {
        padding: .75rem 0 2rem 1.5rem;
        font-size: 2rem;
        color: #000a;
        border-bottom: 1px solid #7775;
    }
    h5 {
        color: #000;
        font-weight: bold;
        font-size: 1.8rem;
        text-align: center;
        margin: 1rem 0;
    }
    p {
        margin: 0;
        font-size: 1.3rem;
        font-weight: 300;
    }
    form {
        margin-block: 3rem;
    }
    input:focus, 
    textarea:focus{
        outline: none;
    }
    input:hover, 
    textarea:hover{
        opacity: .85;
    }
    textarea {
        width: 100%;
        border-radius: 15px;
        font-size: 1.25rem;
        padding: 1rem 1.75rem;
        background-color: #e5e8e9;
        border: 0;
        margin-top: 2rem;
    }
    button {
        width: 100%;
        border-radius: 15px;
        font-size: 1.25rem;
        padding: 1rem 1.75rem;
        background-color: #336e6e;
        border: 0;
        margin-top: 2rem;
        cursor: pointer;
        color: #f2f2f2;
    }

    .span {
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: .5rem;
        color: #000a;
        margin-top: .5rem;
    }
    .container {
        padding: 2rem;
    }
    .flex {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    .flex input {
        flex: 1;
        padding: 1rem 1.75rem;
        border-radius: 15px;
        font-size: 1.25rem;
        border: 0;
        background-color: #e5e8e9;
    }
    .addressContainer {
        text-align: center;
    }
    @media only screen and (max-width: 700px)  {
        .flex {
            flex-direction: column;
        }
        .flex input {
            margin-bottom: 1rem;
        }
        .span {
            font-size: .85rem;
            gap: .75rem;
            padding: .25rem;
        }
    }
    @media only screen and (min-width: 1024px)  {
        .container {
            max-width: 1024px;
            margin-inline: auto;
            padding: 12vh 0;
        }
    }
</style>