<!-- ---
import Layout from '../layouts/Layout.astro';
import Carousel from '../components/Carousel.astro';
import Menu from '../components/Menu.astro';
import App from '../components/App.astro';
---

<Layout title="Home - BHeavenOn7">
	<Carousel />
	<Menu />
	<div class="grid">
		<div class="flex">
			<p class="number">+450k</p>
			<p>BREAKFASTS</p>
		</div>
		<div class="flex">
			<p class="number">+350k</p>
			<p>LUNCHES</p>
		</div>
		<div class="flex">
			<p class="number">+500k</p>
			<p>DINNERS</p>
		</div>
		<div class="flex">
			<p class="number">+850k</p>
			<p>DESSERTS</p>
		</div>
	</div>
	<App />
</Layout>

<style>

	.grid {
		display: grid;
		grid-template-columns: auto auto auto auto;

	}
	.flex {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		border: 1px solid #7775;
	}
	.number {
		font-size: 2.2rem;
		font-weight: 900;
		line-height: .4rem;
	}
	.number + p{
		color: #336e6e;
		font-weight: 700;
		font-size: 1.1rem;
	}

	@media only screen and (max-width: 600px) {
		.grid {
			grid-template-columns: auto auto;
		}
	}
</style> -->


<!-- UNLIST -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<style>
		.flex {
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		h1 {
			font-size: 2rem;
			text-align: center;
		}
	</style>
	<div class="flex">
		<h1>
			This Website is temporarily down, If you own this domain kindly clear dues to regain service.
		</h1>
	</div>

</body>
</html>