<div>
    <p>
        We at BHeavenOn7 group of restaurants., the owner and operator of www.bheavenon7.com (the "Website" or "Site), and our mobile application BHeavenOn7 (the App), hereafter collectively referred to in this Privacy Policy as "BHeavenOn7", "us", “our” or "we",  respect the privacy of your personal information and, as such, make every effort to ensure your information is protected and remains private.
    </p>
</div>