<div class="mainContainer">
    <div class="app flex">
        <h4>Download BHeavenOn7 App For Mobile</h4>
        <p class="tag-2">Through our app you can order your favourite dish from different locations, and will be delivered by one of our executive to your doorstep. Also you can make reservations and plan a takeout.</p>
    
        <p class="tag-1">Now available on both Android and iOS</p>
        <div class="flex">
            <div class="download flex">
                <i class="fa-brands fa-google-play"></i>
                Download for Android
            </div>
            <div class="download flex">
                <i class="fa-brands fa-apple"></i>
                Download for iOS
            </div>
        </div>
    </div>
</div>

<style>
    h3 {
        text-align: center;
        padding: .75rem 0 2rem 1.5rem;
        font-size: 2rem;
        color: #000a;
        border-bottom: 1px solid #7775;
    }
    h4 {
        text-align: center;
        font-size: 1.8rem;
        text-align: center;
        font-weight: 500;
        color:#222;
    }
    h6 {
        text-align: center;
        margin-top: 2.5rem;
        text-align: center;
        font-size: 1rem;
        color: #336e6e;
    }
    i {
        color: #fff;
        font-size: 2rem;
    }
    .mainContainer {
        padding: 2rem 0;
        background-color:  #336e6e;
        margin-bottom: 8px;
    }
    .tag-1 {
        font-size: 2.4rem;
        font-weight: 600;
        text-align: center;
        max-width: 800px;
        margin-inline: auto;
        padding-inline: 12px;
    }
    .tag-2 {
        color: #fff;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 300;
    }
    .app {
        padding: .8rem 8vw;
        max-width: 1200px;
        margin-inline: auto;
    }
    .flex {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .download {
        flex-direction: row;
        padding: 1.2rem 1.4rem;
        background-color: #000;
        border-radius: 8px;
        margin: .6rem 0;
        color: #fff;
        gap: 12px;
        font-weight: 300;
        border: 3px solid #444;
    }
    @media only screen and (max-width: 640px) {
        .mainContainer {
            padding: 0 0 2rem 0;
            background-color:  #336e6e;
        }
        p {
            font-size: 1.875rem;
        }
        .tag-2 {
            font-size: 1.4rem;
            margin: 0;
        }
        h4 {
            max-width: 250px;
        }
    }
</style>